@import 'index';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;

	.innerContainer {
		width: 100%;
		min-height: 70vh;
		max-width: 1200px;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.form {
			width: 100%;
			display: flex;
			flex-direction: column;
			max-width: 350px;

			.logInHeader {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				margin-bottom: 15px;

				.icon {
					font-size: 65px;
					margin-bottom: 15px;
					color: $lightblue;
				}

				.text {
					font-family: $fontHeader;
					font-weight: 600;
					font-size: 25px;
					color: $ugoro;
					width: fit-content;
					align-self: center;
				}
			}
			.credential {
				margin-bottom: 15px;

				input {
					border: 2px solid $ugoro;
					padding: 10px;
					font-size: 18px;
					border-radius: 5px;
					width: 100%;
					outline: none;
					font-family: $fontBody;
					margin-bottom: 10px;
					color: $black;
				}

				.check {
					display: flex;
					flex-direction: row;
					font-size: 18px;
					font-weight: 400;
					justify-content: flex-start;
					align-items: center;

					input {
						width: 20px;
						height: 20px;
						align-self: center;
						margin: 0px;
						margin-right: 10px;
						margin-left: 5px;
					}
				}
			}

			.button {
				width: 100%;
				background-color: $ugoro;
				color: $white;
				border: 2px solid transparent;
				padding: 10px 25px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				transition: 0.2s linear;
				font-weight: 500;

				.google {
					margin-right: 10px;
				}
			}

			.button:hover {
				background-color: $lightkahawa;
				color: $ugoro;
				border: 2px solid $lightblue;
				cursor: pointer;
			}

			.buttonSignUp {
				width: 100%;
				background-color: $answerBackground;
				margin-top: 5px;
				color: $ugoro;
				border: 1px solid $ugoro;
				padding: 10px 25px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				border-radius: 3px;
				transition: 0.2s linear;
				font-weight: 500;
			}

			.buttonSignUp:hover {
				background-color: $lightblue;
				color: $white;
				border: 2px solid $lightblue;
				cursor: pointer;
			}

			.separator {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin: 15px 0px;
			}

			.line {
				display: flex;
				flex: 1;
				background-color: $black;
				height: 1px;
			}

			.line:first-child {
				margin-left: 15px;
			}

			.line:last-child {
				margin-right: 15px;
			}

			.or {
				width: fit-content;
				margin-left: 10px;
				margin-right: 10px;
			}
		}

		.loader {
			height: fit-content;
			margin: 20px;
			height: 80px;
		}

		@media only screen and (max-width: 848px) {
			.form {
				.logInHeader {
					margin-bottom: 10px;

					.icon {
						font-size: 45px;
						margin-bottom: 10px;
					}

					.text {
						font-size: 20px;
					}
				}
				.credential {
					margin-bottom: 10px;

					input {
						font-size: 16px;
					}

					.check {
						font-size: 16px;
						font-weight: 400;

						input {
							width: 15px;
							height: 15px;
						}
					}
				}

				.button {
					padding: 10px 20px;

					.google {
						margin-right: 10px;
					}
				}

				.buttonSignUp {
					padding: 10px 20px;
				}

				.separator {
					margin: 10px 0px;
				}
				.line:first-child {
					margin-left: 10px;
				}

				.line:last-child {
					margin-right: 10px;
				}

				.or {
					margin-left: 10px;
					margin-right: 10px;
				}
			}
			.loader {
				height: fit-content;
				height: 40px;
			}
		}
	}
}
