@import 'index';
.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	min-height: 70vh;
	background-color: $white;

	.innerContainer {
		display: flex;
		width: 100%;
		max-width: 1200px;
		flex: 1;
		padding: 10px;
		flex-direction: column;
		margin-bottom: 50px;

		.header {
			font-family: $fontHeader;
			font-size: 30px;
			font-weight: 700;
			margin: 20px 0px;
			padding-top: 20px;
		}

		.plan {
			font-family: $fontHeader;
			font-size: 20px;
			font-weight: 600;
			margin: 10px 0px;
		}
	}

	@media only screen and (max-width: 458px) {
		.innerContainer {
			.header {
				font-family: $fontHeader;
				font-size: 16px;
				font-weight: 700;
				margin: 10px 0px;
				padding-top: 10px;
			}

			.plan {
				font-family: $fontHeader;
				font-size: 12px;
				font-weight: 600;
				margin: 10px 0px;
			}
		}
	}

	@media only screen and (max-width: 668px) {
		.innerContainer {
			.header {
				font-family: $fontHeader;
				font-size: 28px;
				font-weight: 700;
				margin: 10px 0px;
				padding-top: 10px;
			}

			.plan {
				font-family: $fontHeader;
				font-size: 20px;
				font-weight: 600;
				margin: 10px 0px;
			}
		}
	}
}
