@import 'index';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;

	.innerContainer {
		width: 100%;
		max-width: 1200px;
		margin-top: 40px;
		display: flex;
		flex-direction: column;

		.rightInnercontainerBody {
			width: 100%;
			display: flex;
			flex-direction: row;

			.formHeader {
				font-family: $fontHeader;
				font-weight: 600;
				font-size: 20px;
				color: $ugoro;
			}

			.mainMain {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin-right: 40px;
				min-width: 500px;
			}

			.mainLeft {
				width: 100%;
				display: flex;
				flex-direction: column;
				max-width: 300px;

				.chipDisplay {
					width: 100%;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					margin-top: 5px;
					margin-bottom: 10px;
				}
			}
		}

		.imageSelect {
			width: 180px;
			height: 40px;
			background-color: $ugoro;
			color: $white;
			border: 2px solid transparent;
			margin: 15px;
			margin-left: 0px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
			transition: 0.2s linear;
		}

		.imageSelect:hover {
			background-color: $lightkahawa;
			color: $ugoro;
			border: 2px solid $lightblue;
			cursor: pointer;
		}

		.imageSelectText {
			margin-left: 10px;
		}
	}
}
