@import 'index';

.setCenter {
	display: flex;
	width: fit-content;
	align-items: center;
	justify-content: flex-start;
	padding: 8px;
	border-radius: 5px;
	font-family: $fontHeader;
	font-weight: 500;
	color: $ugoro;
	cursor: pointer;
	margin-top: 5px;
	background-color: $lightkahawa;
	border: 2px solid $ugoro;
}

.active {
	border: 2px solid $lightblue;
	background-color: $lightblue;
	color: $white;
	border-radius: 4px;
	cursor: pointer;
}

.active:hover {
	border: 2px solid $lightkahawa;
	background-color: $lightblue;
}

.headerDash {
	display: flex;
	width: 100%;
	color: $gray;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 0px 10px 0px;
}
