@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'index';
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, Montserrat, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	max-width: 1920px;
	background-color: $white;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	background-image: url('/background.jpg');
	background-color: #cccccc;
	background-repeat: repeat;
	// background-attachment: fixed;
	background-size: cover;
	-webkit-animation: backgroundScroll 30s linear infinite;
	-webkit-animation-fill-mode: forwards;
	animation: backgroundScroll 30s linear infinite;
	animation-fill-mode: forwards;
}

@keyframes backgroundScroll {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: -360px -180px;
	}
	100% {
		background-position: 0 0;
	}
}

@-webkit-keyframes backgroundScroll {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: -360px -180px;
	}
	100% {
		background-position: 0 0;
	}
}
