@import 'index';

.container {
	width: 100%;
}

.innerContainer {
	margin: 15px;
	width: 100%;
}

.show {
	display: flex;
	width: 400px;
	height: 250px;
	object-fit: cover;
	margin-bottom: 10px;
	border-radius: 5px;
}

.hide {
	display: none;
}

.imageSelect {
	width: 180px;
	height: 40px;
	background-color: $lightblue;
	color: $white;
	border: 2px solid transparent;
	margin: 15px;
	margin-left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: 0.2s linear;
}

.imageSelect:hover {
	background-color: $lightkahawa;
	color: $ugoro;
	border: 2px solid $lightblue;
	cursor: pointer;
}

.imageSelectText {
	margin-left: 10px;
}
