@import "index";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $white;
  min-height: 70vh;
  transition: 0.2s linear;

  .innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 55px;
    margin-top: 15px;

    h2 {
      margin-bottom: 5px;
    }
    p {
      margin: 10px;
    }
    a {
      color: $lightblue;
    }
  }
}
