@import 'index';
.bar{
    background-color: $lightblue;
    height: 0.25rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}

.container{
    pointer-events: none;
}