@import 'index';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: $white;

	div {
		transition: 0.2s linear;
	}
	.innerContainer {
		display: flex;
		flex-direction: row;
		width: 100%;
		max-width: 1200px;

		.leftInnercontainerBody {
			.sticky {
				position: -webkit-sticky;
				position: sticky;
				top: 0;
			}

			.topicHeader {
				display: flex;
				align-items: center;
				margin-top: 5px;
				font-weight: 400;
				height: 40px;
				font-family: $fontHeader;
				font-size: 17px;
			}

			.titleList {
				display: flex;
				flex-direction: column;
				border-left: 3px solid rgba($color: $black, $alpha: 0.1);
				margin-left: 2px;
			}

			.topicTittle {
				margin-left: 0px;
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 8px;
				padding-left: 10px;
				font-size: 16px;
				font-weight: 400;
				cursor: pointer;
				color: $black;
				border-left: 3px solid transparent;
				position: relative;
				top: 0px;
				left: -2px;
				z-index: 99;
			}

			.topicTittle:hover {
				transition: 0.2s linear;
				color: $lightblue;
			}

			.Active {
				transition: 0.2s linear;
				color: $lightblue;
				border-left: 3px solid $lightblue;
				font-weight: 600;
			}
		}
		.rightInnercontainerBody {
			width: 100%;
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			min-height: 75vh;

			h2 {
				margin-top: 60px;
			}

			.BodyHeader {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				height: 40px;
				width: 100%;
				font-family: $fontHeader;
				font-weight: 400;
				color: $ugoro;
				margin-bottom: 10px;
				font-size: 16px;
				margin-top: 10px;

				.statusBar {
					width: fit-content;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
				}

				.download {
					width: fit-content;
					height: 40px;
					background-color: $ugoro;
					color: $white;
					border: 2px solid transparent;
					margin: 10px 15px;
					padding: 0px 15px;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					border-radius: 5px;
					transition: 0.2s linear;
					font-weight: 500;
				}

				.download:hover {
					background-color: $lightkahawa;
					color: $ugoro;
					border: 2px solid $lightblue;
					cursor: pointer;
				}
			}

			.BodyContent {
				width: 100%;
				font-style: normal;
				font-family: $fontBody;
				font-weight: 400;
				font-size: 17px;
				line-height: 24px;
				margin-bottom: 40px;

				.conteinerTable {
					h2 {
						text-align: center;
					}
				}

				.headerHead {
					margin: 10px 0px;
					.header {
						font-family: $fontHeader;
						font-weight: 500;
						font-size: 18px;
						margin: 10px 0px 0px 0px;
					}
					.description {
						font-family: $fontBody;
						font-size: 16px;
					}
				}

				.hiddenExam {
					position: relative;
					height: 700px;
					overflow: hidden;
				}

				.hiddenExam::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 400px;
					background: linear-gradient(transparent, $white);
				}

				.showMoreContainer {
					display: flex;
					flex-direction: column;
					width: 100%;
					justify-content: center;
					align-items: center;
					margin-bottom: 70px;

					.more {
						width: fit-content;
						height: 40px;
						background-color: $ugoro;
						color: $white;
						border: 2px solid transparent;
						margin: 15px 15px;
						padding: 0px 15px;
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						border-radius: 5px;
						transition: 0.2s linear;
						font-weight: 500;
					}

					.more:hover {
						background-color: $lightkahawa;
						color: $ugoro;
						border: 2px solid $lightblue;
						cursor: pointer;
					}
				}
			}

			@media only screen and (max-width: 908px) {
				.BodyHeader {
					display: flex;
					flex-direction: column;
					width: 100%;
					height: fit-content;
					justify-content: center;
					align-items: center;

					.statusBar {
						width: 100%;
						display: flex;
						flex-direction: row;
						font-size: 12px;
					}

					.download {
						width: 100%;
						margin: 0px;
						margin-top: 10px;
						padding: 10px;
					}
				}
				.BodyContent {
					.showMoreContainer {
						.more {
							margin: 0px;
							margin-top: 10px;
							padding: 10px;
						}
					}
				}
			}
		}
	}
}

.notFound {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
	border: 2px solid red;
}

@media only screen and (max-width: 908px) {
	.leftInnercontainerBody {
		display: none;
	}
	.mobile {
		display: flex;
		position: sticky;
		top: 0;
	}
}

@media only screen and (min-width: 908px) {
	.leftInnercontainerBody {
		width: 100%;
		max-width: 250px;
		font-family: $fontBody;
		color: $ugoro;
		display: flex;
		flex-direction: column;
	}
	.mobile {
		display: none;
	}
}
.modal {
	margin-left: 1.8rem;
	margin-right: 1.8rem;
	margin-bottom: 1.8rem;
	display: grid;
	grid-gap: 10px;

	@media (min-width: 268px) {
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
		justify-content: center;
	}

	@media (min-width: 468px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (min-width: 960px) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(5, 1fr);
	}
}

.table {
	display: flex;
	flex-direction: column;
	width: 100%;
}
