@import 'index';

.table {
	display: flex;
	flex-direction: column;
	width: 100%;

	table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

		& thead tr {
			background-color: $lightblue;
			color: $white;
			text-align: left;
			font-weight: bold;
		}

		& th,
		& td {
			padding: 12px 15px;
		}

		& tbody tr {
			border-bottom: 1px solid $lightblue;
			display: table-row;
		}

		& tbody tr:nth-of-type(even) {
			background-color: #f3f3f3;
		}

		& tbody tr:last-of-type {
			border-bottom: 2px solid $lightblue;
		}

		& tbody tr:hover {
			color: $white;
			cursor: pointer;
			background-color: $ugoro;
		}
	}

	@media only screen and (max-width: 908px) {
		table {
			border-collapse: collapse;
			margin: 10px 0;
			font-size: 0.7em;
			width: 100%;
			border-radius: 5px 5px 0 0;
			overflow: hidden;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

			& thead tr {
				background-color: $lightblue;
				color: $white;
				text-align: left;
				font-weight: bold;
			}

			& th,
			& td {
				padding: 5px 10px;
			}

			& tbody tr {
				border-bottom: 1px solid $lightblue;
				display: table-row;
			}

			& tbody tr:nth-of-type(even) {
				background-color: #f3f3f3;
			}

			& tbody tr:last-of-type {
				border-bottom: 2px solid $lightblue;
			}

			& tbody tr:hover {
				color: $white;
				cursor: pointer;
				background-color: $ugoro;
			}
		}
	}
}

.notFound {
	width: 100%;
	display: flex;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}
